@model DiaNhac
<form asp-action="Add" method="post">
    <h2>Add Music</h2>
    <hr />
    <div class="form-group">
        <label>Name</label>
        <input asp-for="TieuDe" class="form-control" />
        <span asp-validation-for="TieuDe" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Thể loại</label>
        <input asp-for="TrongNuoc" class="form-control" />
        <span asp-validation-for="TrongNuoc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Giá bán</label>
        <input asp-for="GiaBan" class="form-control" />
        <span asp-validation-for="GiaBan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Số lượng</label>
        <input asp-for="SoLuong" class="form-control" />
        <span asp-validation-for="SoLuong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Nghệ sĩ</label>
        <input asp-for="NgheSi" class="form-control" />
        <span asp-validation-for="NgheSi" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary"> Save </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>